.cadrier{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.column{
    width: 21px;
    height: 336px;
    display: flex;
    flex-direction: column;
    
}

.container{
    display: flex;
    flex-direction: row;
    width: 336px;
}
body{
    display: flex;
    justify-content: center;
}