.cadrier{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.column{
    width: 20px;
    height: 320px;
    display: flex;
    flex-direction: column;
    
}

body{
    display: flex;
    flex-direction: row;
}