.cadrier{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}
.cadrier:hover{
    background-color: blue;
}

.column{
    display: flex;
    flex-direction: column;
    
}

.container{
    display: flex;
    flex-direction: row;

    border: 1px solid black;
}
main{
    display: flex;
    justify-content: center;
}
body{
    text-align: center;
}
.boutonDimension{
    align-self: center;
    height: 20px;
    margin: 10px ;
    
}